---
name: PyPI
on: [push, release]
jobs:
  verify-current-pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
          enable-cache: false
      - name: Install package from PyPI
        run: |
          uv pip install --system paperscraper pytest
      - name: Test package from PyPI
        run: |
          python -c "import paperscraper"
          python -c "import paperscraper.pdf"
          python -c "import paperscraper.arxiv"
          python -c "import paperscraper.scholar"
          python -c "import paperscraper.plotting"
          python -c "import paperscraper.pubmed"
          python -c "import paperscraper.get_dumps"
          python -c "import paperscraper.server_dumps"
          python -c "import paperscraper.tests"
          python -c "import paperscraper.impact"
          python -c "import paperscraper.citations"
