---
name: PyPI
on: [push, release]
  verify-current-pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install package from PyPI
        run: |
          python -m pip install --upgrade pip
          pip install paperscraper
          pip install pytest
      - name: Test package from PyPI
        run: |
          python -c "import paperscraper"
          python -c "import paperscraper.pdf"
          python -c "import paperscraper.arxiv"
          python -c "import paperscraper.scholar"
          python -c "import paperscraper.plotting"
          python -c "import paperscraper.pubmed"
          python -c "import paperscraper.get_dumps"
          python -c "import paperscraper.server_dumps"
          python -c "import paperscraper.tests"
          python -c "import paperscraper.impact"


