---
name: PyPI
on: [push, release]
jobs:
  verify-current-pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          python-version: 3.9
          enable-cache: true
      - name: Install package from PyPI
        run: |
          uv pip install paperscraper pytest
      - name: Test package from PyPI
        run: |
          uv run python -c "import paperscraper"
          uv run python -c "import paperscraper.pdf"
          uv run python -c "import paperscraper.arxiv"
          uv run python -c "import paperscraper.scholar"
          uv run python -c "import paperscraper.plotting"
          uv run python -c "import paperscraper.pubmed"
          uv run python -c "import paperscraper.get_dumps"
          uv run python -c "import paperscraper.server_dumps"
          uv run python -c "import paperscraper.tests"
          uv run python -c "import paperscraper.impact"
          uv run python -c "import paperscraper.citations"

