---
name: Source
on: [push, release]

jobs:
  test-source-install:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version:
          - 3.8
          - 3.9
          - "3.10"
          - "3.11"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install coverage pytest-cov
      - name: Install package from source
        run: pip install -e .
      - name: Test package from source
        run: |
          python -c "import paperscraper"
          coverage run -m pytest -sv paperscraper
          coverage report
          coverage xml -o coverage.xml
      - name: Upload to Codecov
        if: matrix.python-version == '3.9'
        uses: codecov/codecov-action@v2
        with:
          files: coverage.xml
          fail_ci_if_error: true

  test-potential-wheel-install:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Build package
      run: |
        python setup.py sdist bdist_wheel

    - name: Install from built distribution
      run: |
        # Check if a wheel exists, and install it if available, otherwise install the source distribution
        if [ -e dist/*.whl ]; then
          pip install dist/*.whl
        else
          pip install dist/*
        fi
    - name: Import package
      run: |
        python -c "import paperscraper"
    - name: Run tests
      run: |
        python -m pytest paperscraper
